p #right a {
   color: #ffffff;
   display: block;
   text-decoration: none;
}
.header luis#right a{
	display: block;
}
.header .right a{
	display: block;
}
.header a, .right a{
	display: block;
}
.header[title="hello this"]{
	float: left;
}
.header-pio #right a {
   color: #ffffff;
   display: block;
   text-decoration: none;
   margin: 10px 0px 10px -50px;
}
