p #right a {
   color: #ffffff;
   display: block;
   text-decoration: none;
}
@media only screen and (max-width: 1200px) {
	#nextprev {
		display: none;
	}
}
.header luis#right a{
	display: block;
}
.header .right a{
	display: block;
}
.header a, .right a{
	display: block;
}
.header[title="hello this"]{
	float: left;
	background: url('/images/tabs/headerbackground.png') repeat-x 50px 0 5em;
}
.header[title="hello this"] p{
	float: left;
	background: url('/images/tabs/headerbackground.png') repeat-x 50px 0 5em;
}
.header-pio #right a {
   color: #ffffff;
   display: block;
   text-decoration: none;
   margin: 10px 0px 10px -50px;
   background: url('/images/tabs/headerbackground.png') repeat-x 50% 0;
}
#test{
	background: #FFF url('http://images/tabs/headerbackground.png') repeat-x center;
}
#testURL{
	background: #FFF url(http://images/tabs/headerbackground.png) repeat-x center 50 0;	
}
.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.564102564102564%;
  *margin-left: 2.5109110747408616%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.564102564102564%;
}